@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$white: #FFFFFF;
/*$grey: #7c7c7c;*/
$grey: #485550;
$grey-light: #F4F6F0;
$green: #8FCD4A;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

.grey-bg {
    background-color: $grey;
}

.green-bg {
    //background-color: $green;
    background: url(./img/svg/wave.svg);
    background-repeat: no-repeat;
    //background-size: 50em;
    background-position-y: top;
}

.transparent-bg {
    background: none;
}

.margin-bottom {
    margin-bottom: 3em;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
  }

footer {
    margin: 0;
}
nav {
    button[type="submit"] {
        background-color: $white;
        border-radius: 0 5px 5px 0;
    }
    a {
        color: $white;
        &:hover {
            color: $green;
        }
    }
}
/*
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: auto;
    width: 20em;
    margin-right: 1em;
    overflow: hidden;
    a {
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            background-color: #ddd;
            color: black;
        }
        &:active {
            background-color: royalblue;
            color: $white;
        }
    }
}

.nav__user {
    background-color: $white;
    color: $grey;
    border-radius: 5px;
}
*/
    .header__logo {
        width: auto;
        height: 2.5em;
        border-radius: 5px;
    }

    .icone {
        width: auto;
        height: 1.5em;
    }
    .arrow {
        &:hover {
            width: auto;
            height: 2em;
        }
    }

    .follow_icone {
        //color: #ddd;
        //margin: 0em 0.5em 0em 0.5em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        padding: 0.4em;
    }


    .welcome_h2 {
        color: $white;
        background-color: rgba(20, 20, 20, 0.5);
        text-align: center;
        //width: 20em;
        padding: 1em;
    }

    section {
        min-height: 20em;
        display: flex;
        flex-direction: column;
        
    }

    .welcome_section {
        background-image: url('./img/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orientation_section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        text-align: center;
        align-items: center;
        margin: 1em 0 1em 0;
        img {
            width: auto;
            height: 10em;
        }
        .card {
            margin: auto;
            padding: 1em;
            height: auto;
            box-shadow: $shadow;
            width: auto;
            text-align: left;
            h3 {
                font-size: 1em;
            }
        }
    }

    #orientation1 {
        background-color: lightyellow;
    }
    #orientation2 {
        background-color: lightblue;
    }
    #orientation3 {
        background-color: lightcoral;
    }
    .button-resp {
        background-color: #333;
        color: $white;
        overflow: hidden;
        border-radius: 5px;
        text-decoration: none;
        padding: 10px 0px;
        text-align: center;
        border: none;
        box-shadow: $shadow;
        a {
            font-family: "Montserrat";
        color: $white;
        border: none;
        text-decoration: none;
        padding: 15px 32px;
        font-size: 17px; 
        text-align: center;
        &:hover {
            background-color: $white;
            color: black;
        }
        }
    }

    .half {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .inverse {
        flex-direction: row-reverse;
    }

    .half-pic {
        background-size: cover;
    }

    
.bg-informatique {
    background-image: url('./img/informatique.jpeg');
    background-size: cover;
    margin-bottom: 1em;
}
.bg-hotel {
    background-image: url('./img/hôtel.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
}
.bg-textile {
    background-image: url('./img/textile.jpeg');
    background-size: cover;
    margin-bottom: 1em;
}
.bg-vente {
    background-image: url('./img/grocery.jpeg');
    background-size: cover;
    margin-bottom: 1em;
}

.blur-box {
    color: $white;
    margin: 2em;
    background: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
    /*
    .formation__informatique {
        background-image: url('./img/informatique.jpeg');
    }
    */
    .formation__textile {
        background-image: url('./img/textile.jpeg');
    }
    .formation__vente {
        background-image: url('./img/grocery.jpeg');
    }
    .formation__hotel {
        background-image: url('./img/hôtel.jpeg');
    }
    
    .left {
        box-shadow: $shadow;
        padding: 1em;
    }

    .left,.info_form {
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: left;
        i {
            margin: 0em 1em 0em 0em;
        }
    }

    .info_form {
        input,#msg {
        height: 2em;
        width: 50%;
        &:hover {
            background-color: $grey-light;
        }
        }
        #msg {
            height: 3em;
        }
        hr {
            background-color: $grey;
            width: 50%;
            margin-left: 0%;
            margin-top: 0%;
        }
        label,input[type="submit"] {
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
    }

    .no_border {
        border: none;
    }

    .shadow {
        box-shadow: $shadow;
    }

    fieldset {
        border: none;
        box-shadow: $shadow;
        padding: none;
        background-color: $white;
    }

    .white-round {
        border-radius: 50%;
        background-color: $white;
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        align-items: center;
    }

/* Slideshow */

/* Slideshow container */
.slideshow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    //background: $color1;
    //box-shadow: inset 0px 0px 20px 5px #FFFFFF;
    box-shadow: $shadow;
    height: auto;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 1em;
    text-align: center;
    img {
        height: 7em;
    }
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: $grey;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    //background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: $green;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}