@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/*$grey: #7c7c7c;*/
.white-bg {
  background-color: #FFFFFF;
}

.grey-bg {
  background-color: #485550;
}

.green-bg {
  background: url(../img/svg/wave.svg);
  background-repeat: no-repeat;
  background-position-y: top;
}

.transparent-bg {
  background: none;
}

.margin-bottom {
  margin-bottom: 3em;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat';
}

footer {
  margin: 0;
}

#navbarContent {
  margin-right: 0;
  font-variant: small-caps;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#navbarContent button.navbar-toggler {
  margin-right: 1em;
}

#navbarContent button[type="submit"] {
  border-radius: 5px 0 0 5px;
  border: none;
}

#navbarContent button[type="submit"] i:hover {
  color: #8FCD4A;
}

#navbarContent input[type="text"] {
  border: none;
}

#navbarContent a {
  color: #FFFFFF;
  white-space: nowrap;
}

#navbarContent a:hover {
  color: #8FCD4A;
}

#navbarContent ul {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  background-image: url("../img/logo-AFPA.jpeg");
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 5px #ffffff91;
}

.header-logo:hover {
  width: 3em;
  height: 3em;
}

.icone {
  width: auto;
  height: 1.5em;
}

.arrow:hover {
  width: auto;
  height: 2em;
}

.follow_icone {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.4em;
}

.welcome_h2 {
  color: #FFFFFF;
  background-color: rgba(20, 20, 20, 0.5);
  text-align: center;
  padding: 1em;
}

section {
  min-height: 20em;
  display: flex;
  flex-direction: column;
}

.welcome_section {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orientation_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 1em 0 1em 0;
}

.orientation_section img {
  width: auto;
  height: 10em;
}

.orientation_section .card {
  margin: auto;
  padding: 1em;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: auto;
  text-align: left;
}

.orientation_section .card h3 {
  font-size: 1em;
}

#orientation1 {
  background-color: lightyellow;
}

#orientation2 {
  background-color: lightblue;
}

#orientation3 {
  background-color: lightcoral;
}

.button-resp {
  background-color: #333;
  color: #FFFFFF;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 0px;
  text-align: center;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.button-resp a {
  font-family: "Montserrat";
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 17px;
  text-align: center;
}

.button-resp a:hover {
  background-color: #FFFFFF;
  color: black;
}

.half {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inverse {
  flex-direction: row-reverse;
}

.half-pic {
  background-size: cover;
}

.bg-informatique {
  background-image: url("../img/informatique.jpeg");
  background-size: cover;
  margin-bottom: 1em;
}

.bg-hotel {
  background-image: url("../img/hôtel.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1em;
}

.bg-textile {
  background-image: url("../img/textile.jpeg");
  background-size: cover;
  margin-bottom: 1em;
}

.bg-vente {
  background-image: url("../img/grocery.jpeg");
  background-size: cover;
  margin-bottom: 1em;
}

.blur-box {
  color: #FFFFFF;
  margin: 2em;
  background: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/*
    .formation__informatique {
        background-image: url('./img/informatique.jpeg');
    }
    */
.formation__textile {
  background-image: url("../img/textile.jpeg");
}

.formation__vente {
  background-image: url("../img/grocery.jpeg");
}

.formation__hotel {
  background-image: url("../img/hôtel.jpeg");
}

.left {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1em;
}

.left, .info_form {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.left i, .info_form i {
  margin: 0em 1em 0em 0em;
}

.info_form input, .info_form #msg {
  height: 2em;
  width: 50%;
}

.info_form input:hover, .info_form #msg:hover {
  background-color: #F4F6F0;
}

.info_form #msg {
  height: 3em;
}

.info_form hr {
  background-color: #485550;
  width: 50%;
  margin-left: 0%;
  margin-top: 0%;
}

.info_form label, .info_form input[type="submit"] {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.no_border {
  border: none;
}

.bottom-border {
  border-bottom: 1px solid #333;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

fieldset {
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: none;
  background-color: #FFFFFF;
}

/* Slideshow */
/* Slideshow container */
.slideshow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 1em;
  text-align: center;
}

.mySlides img {
  height: 7em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #485550;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #485550;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #8FCD4A;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

/* ------------------ Inscription --------------------- */
#inscription-title, #connexion-title {
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.inscription-form {
  padding: 1em;
}

.inscription-form hr {
  width: 25%;
  border-top: thick solid #8FCD4A;
}

.inscription-form input {
  height: 2em;
  width: 50%;
  border-radius: 0;
}

.inscription-form input:hover {
  background-color: #F4F6F0;
  border-bottom: 3px solid #8FCD4A;
}

.inscription-form input[type="submit"] {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-radius: 20px;
  width: 25%;
  color: #FFFFFF;
  background-color: #8FCD4A;
  font-weight: bold;
}

.inscription-form input[type="submit"]:hover {
  background-color: #485550;
}

.inscription-form legend {
  background-color: #8FCD4A;
  width: fit-content;
  padding: 0.5em;
  font-variant: small-caps;
}

.inscription-form div.inscription-info > * {
  padding: 0.5em;
}
/*# sourceMappingURL=main.css.map */